.feedbackForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 20px 40px;
  width: 100%;
  height: 420px;

  @media (max-width: 413px) {
    padding: 10px 20px;
  }

  &__title {
    font-size: 23px;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }

  &__input {
    width: 100%;
  }

  &__textarea {
    width: 100%;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  &__button {
    background-color: rgb(48, 184, 14);
    transition:
      background-color 0.3s,
      color 0.3s;

    &:hover {
      background-color: rgb(67, 218, 53);
    }
  }

  &__successText {
    font-size: 16px;
    color: green;
  }

  &__errorText {
    font-size: 16px;
    color: red;
  }

  &__processText {
    font-size: 16px;
  }
}
