.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: var(--primary-color);
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  transition: 0.05s;

  &:hover {
    transform: scale(1.07);
  }

  &__text {
    font-size: 25px;
    color: white;
  }

  &__point {
    width: 20px;
    height: 20px;
    background-color: var(--secondary-color);
    border-radius: 50%;
  }

  &:hover &__point {
    background-color: var(--secondary-color-active);
  }
}
