.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

  @media (max-width: 767px) {
    display: none;
  }

  &__link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: white;
    &:hover {
      color: var(--secondary-color);
    }
  }
}
