:root {
  --primary-color: rgb(0, 144, 184);
  --secondary-color: rgb(67, 218, 53);
  --secondary-color-active: rgb(73, 232, 59);
  --primary-background-color: rgb(245, 245, 245);
  --secondary-background-color: rgb(26, 26, 26);
  --primary-text-color: rgb(55, 55, 55);
  --secondary-text-color: rgb(130, 130, 130);
  --border-color: rgb(200, 200, 200);
}
