header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 70px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  &__link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: white;
    &:hover {
      color: rgb(255, 191, 0);
    }
  }
}

.cartBoxIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 50%;
  padding: 10px;

  &:hover {
    background-color: rgb(34, 31, 31);
  }
}