.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 5px;

  &__cartBoxIcon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 50%;
    padding: 10px;
  
    &:hover {
      background-color: rgb(34, 31, 31);
    }
  }

  &__cartIcon {
    font-size: 28px;
    color: white;
  }

  &__productsQty {
    position: absolute;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: white;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
}
