.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 5px;

  &__cartBoxIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 50%;
    padding: 10px;
  
    &:hover {
      background-color: rgb(34, 31, 31);
    }
  }

  &__cartIcon {
    font-size: 28px;
    color: white;
  }
}
