.gallery {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  &__mainImgBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  &__iconButtonBefore,
  &__iconButtonNext {
    padding: 3px;
  }

  &__navigateIcon {
    font-size: 35px;
    color: var(--primary-color);
  }

  &__mainImg {
    height: 685px;
    width: 700px;
    object-fit: contain;

    @media (max-width: 1279px) {
      height: 500px;
      width: 500px;
    }
    @media (max-width: 1023px) {
      height: 400px;
      width: 400px;
    }
    @media (max-width: 960px) {
      height: 630px;
      width: 630px;
    }
    @media (max-width: 767px) {
      height: 500px;
      width: calc(100% - 60px);
    }
    @media (max-width: 600px) {
      height: 450px;
    }
    @media (max-width: 500px) {
      height: 400px;
    }
    @media (max-width: 400px) {
      height: 300px;
    }
  }

  &__imgBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    gap: 12px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
  }

  &__smallImg {
    height: 60px;
    width: 60px;
    object-fit: contain;
    cursor: pointer;
    border-radius: 3px;

    @media (max-width: 768px) {
      height: 40px;
      width: 40px;
    }

    &_active {
      outline: 1px solid var(--secondary-color);
    }
  }
}
