.gallery {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  &__mainImgBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  &__iconButtonBefore {
    padding: 3px;
  }

  &__iconButtonNext {
    padding: 3px;
  }

  &__mainImg {
    height: 685px;
    width: 700px;
    object-fit: contain;
  }

  &__imgBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    gap: 12px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 10px;
  }

  &__smallImg {
    height: 60px;
    width: 60px;
    object-fit: contain;
    cursor: pointer;
    border-radius: 3px;

    &_active {
      outline: 1px solid rgb(67, 218, 53);
    }
  }
}
