.burgerMenu {
  display: none;
  color: white;
  transition: 0.3s;

  &:hover {
    color: var(--secondary-color);
  }

  @media (max-width: 767px) {
    display: block;
  }

  &__modal {
    width: 50vw;
    margin-top: 50px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 15px;

    @media (max-width: 413px) {
      width: 60vw;
    }
  }

  &__link {
    color: var(--primary-color);
    font-size: 23px;
    &:hover {
      color: var(--secondary-color);
    }
  }

  &__cartBoxIcon:hover &__cartIcon {
    color: var(--secondary-color);
  }

  &__cartBoxIcon:hover &__productsQty {
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
  }

  &__cartIcon {
    font-size: 90px;
    color: var(--primary-color);
    transition: 0.3s;
  }

  &__productsQty {
    position: absolute;
    height: 30px;
    width: 30px;
    left: 35%;
    top: 10%;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    background-color: white;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    transition: 0.3s;
  }
}
