.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;

  &__content {
    text-align: center;
  }

  &__info {
    font-size: 14px;
    color: var(--secondary-text-color);
  }
}
