footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  &__link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: white;
    &:hover {
      color: rgb(255, 191, 0);
    }
  }
}
