.search {
  position: relative;
  display: flex;
  gap: 3px;
  min-width: 255px;

  @media (max-width: 1023px) {
    display: none;
  }

  &__iconButton {
    position: absolute;
    top: 0;
    right: 0;
  }
}
