.storeCard {
  width: 24%;
  height: 435px;
  padding: 10px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  &:hover {
    transform: scale(1.07);
  }
  @media (max-width: 1439px) {
    width: 32%;
  }
  @media (max-width: 1279px) {
    width: 49%;
  }
  @media (max-width: 1023px) {
    width: 32%;
    &:hover {
      transform: none;
    }
  }
  @media (max-width: 767px) {
    width: 49%;
  }
  @media (max-width: 530px) {
    width: 100%;
  }

  &__imgBox {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    cursor: pointer;
  }

  &__descriptionBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 150px;
    width: 100%;
  }

  &__name {
    font-size: 15px;
    font-weight: 300;
    color: var(--primary-color);
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  &__row {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__price {
    font-size: 20px;
    font-weight: 500;
  }

  &__priceSymbol {
    font-weight: 400;
    font-size: 25px;
    display: inline-block;
  }

  &__available {
    font-weight: 500;
    font-size: 12px;

    &_true {
      color: var(--secondary-color);
    }

    &_false {
      color: var(--secondary-text-color);
    }
  }

  &__cart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 50%;
    padding: 10px;

    &:hover {
      background-color: rgb(230, 230, 230);
    }
  }

  &__cartIcon {
    font-size: 28px;
    color: var(--primary-color);
  }
}
